.contact {
    padding: 70px 0;
    &-header {
        background-color: #F5F5F5;

        h2 {
            font-size: 2.4rem;
            font-weight: 600;
        }
    }

    &-body {
        padding: 60px 0;
        &-left {
            ul {
                li {
                    font-size: 18px;
                    padding-bottom: 1.9rem;

                    i {
                        font-size: 20px;
                        color: #666666;
                        &:hover{
                            color: #F53311;
                        }
                    }
                }
            }

            &-header {
                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                }

            }
        }

        &-right{
            border: 1px solid #E5E5E5;
            padding: 40px 50px;
            input{
                border: 1px solid #E5E5E5;
                padding: 8px 12px;
                width: 100%;
                margin-bottom: 30px;
                font-family: 'Belleza', sans-serif;
                letter-spacing: 2px;
            }
            textarea{
                border: 1px solid #E5E5E5;
                padding: 8px 12px;
                width: 100%;
                margin-bottom: 30px;
            }
            button{
                border: 1px solid #E5E5E5;
                padding: 12px 16px;
                width: 100%;
                background-color: #F53311;
                &:hover{
                    background-color: #e42d0d;
                    border: 1px solid #E5E5E5;
                }
            }
        }

    }
    &-map{
        height: 50%;
    }
}