.blog2{
    &-left{

        &-img{
            overflow: hidden;
            img{
                transform: scale(1.05) translateX(0);
                transition: transform .6s cubic-bezier(.61,1,.88,1);
            }
        }
        h2{
            font-size: 2.4rem;        }
        p{
            letter-spacing: 0;
            line-height: 30px;
        }
    }
    &-right{
        width: 80%;
        margin: auto;
        ul{
            li{
                p{
                    font-size: 12px;
                    transition: 0.9s;
                    &:hover{
                        transform: translateX(12px);
                    }
                    
                }
            }
        }
        &-posts{
            h6{
                line-height: 22px;
            }
        }
        &-follow{
            p{
                font-size: 14px;
                letter-spacing: 2px;
                margin-bottom: 6px;
                position: relative;
                display: inline-block;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background-color: black; /* Change this to your desired underline color */
                    transition: width 0.3s ease;
                }
                &:hover::before{
                    width: 100%;
                }
            }
        }
        &-author{
            .author-img{
                width: 80%;
            }
            .author-desc{
                p{

                }
            }
        }
    }
}