.login{
    padding: 80px 0;
    background-color: #ECF2F8;
    &-body{
        height: auto;
        width: 80%;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        &-form{
            width: 100%;
            padding: 0 40px;
            height: 100%;
            input{
                border: 1px solid #E5E5E5;
                padding: 4px 14px;
                width: 100%;
                margin-bottom: 15px;
                border-radius: 18px;
                font-family: 'Belleza', sans-serif;
                letter-spacing: 2px;
            }
            // h3{
            //     font-size: ;
            // }
            p{
                font-size: 13px;
            }
            .form-btn{
                background-color: #F53311;
                border-radius: 18px;
                font-size: 14px;
                padding: 8px 14px;
                border: none;
            }
        }
        &-info{
            background-color: #fff;
            padding: 0 40px;
            height: 100%;
            
            .form-heading{
                margin-bottom: 28px;
                h4{
                    font-size: 2rem;
                }
            }
            
            
        }
    }
}