.featured {
  h2 {
    font-size: 2.4rem;
    font-weight: 600;

    span {
      color: #F53311;
    }
  }

  &-items-card {

    &-img {
      box-shadow: 0 28px 16px -26px black;
      overflow: hidden;
      transform: scale(1.05) ;

      &:hover img {
        transform:  translateX(6px) ;
        transition: transform .6s cubic-bezier(.61, 1, .88, 1);
      }
    }

    &-text {
      background-color: #fff;
      p {
        color: #595959;
      }

      a {
        text-decoration: none;
        color: #000;
        position: relative;
        display: inline-block;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: black;
          transition: width 0.3s ease;
        }

        &:hover::before {
          width: 100%;
        }
      }

    }
  }
}